@import "tailwindcss";

@theme inline {
  --font-gill-sans: var(--font-gill-sans);
  --font-gilroy: var(--font-gilroy);
}

@layer base {
  body {
    background-color: #000;
    color: #fff;
  }

  ::selection {
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
  }
}
